* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
}

.form-login {
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 40px;
  margin: 25vh auto;
  border-radius: 10px;
}

.form-login label {
  color: #141414;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 5px;
}

.form-login input {
  border: 1px solid  transparent;
  height: 40px;
  border-radius: 10px;
  padding-left: 8px;
  color: #141414;
  outline: none;
  font-size: 20px;
  margin-bottom: 20px;
  transition: .3s;
}

.form-login input[type="text"]:hover,
.form-login input[type="text"]:focus,
.form-login input[type="password"]:hover
.form-login input[type="password"]:focus {
  border: 1px solid #141414;
}

.form-login input[type="submit"] {
  background-color: #141414;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.box-erro {
  background-color: #ff0000;
  color: #fff;
  padding: 5px;
  margin-bottom: 10px;
}

.header {
  background-color: #444;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  height: 60px;
  width: 100%;
}

.header p {
  color: #fff;
  font-size: 20px;
}

.header a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.container {
  background-color: #ccc;
}

.sidebar {
  background-color: #fff;
  height: 100vh;
  position: fixed;
  top: 60px;
}

.sidebar a {
  padding: 15px 40px;
  display: block;
  text-decoration: none;
  color: #141414;
  font-size: 18px;
  
}

.sidebar h2 {
  background-color: #666;
  color: #fff;
  padding: 10px 40px;
}

.content {
  width: calc(100% - 300px);
  padding-left: 300px;
  padding-top: 60px;
}

form#cadastro-cliente {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 40px;
  margin: 0 auto;
}

form#cadastro-cliente label {
  font-size: 24px;
  margin-bottom: 5px;
  color: #141414;
}

form#cadastro-cliente input {
  border: 1px solid transparent;
  outline: none;
  border-radius: 10px;
  height: 60px;
  font-size: 24px;
  padding-left: 8px;
  color: #141414;
  font-size: 24px;
  margin-bottom: 20px;
}

form#cadastro-cliente select {
  height: 60px;
  border: 1px solid transparent;
  margin-bottom: 20px;
  border-radius: 10px;
  color: #141414;
  font-size: 24px;
  padding-left: 8px;
  outline: none;
}

form#cadastro-cliente input[type="submit"] {
  background-color: #141414;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.box-client {
  display: grid;
  grid-template-columns: 1fr ;
  gap: 40px 20px;
  padding: 40px;
}

.box-single-client {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.box-single-client h2 {
  color: #141414;
  margin-bottom: 10px;
}

.box-single-client p {
  color: #444;
  font-size: 20px;
  margin-bottom: 5px;
}

.btn-delete {
  background-color: #ff0000;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
  display: inline-block;
}


form#editar-cliente {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 40px;
  margin: 0 auto;
}

form#editar-cliente label {
  font-size: 24px;
  margin-bottom: 5px;
  color: #141414;
}

form#editar-cliente input {
  border: 1px solid transparent;
  outline: none;
  border-radius: 10px;
  height: 60px;
  font-size: 24px;
  padding-left: 8px;
  color: #141414;
  font-size: 24px;
  margin-bottom: 20px;
}

form#editar-cliente select {
  height: 60px;
  border: 1px solid transparent;
  margin-bottom: 20px;
  border-radius: 10px;
  color: #141414;
  font-size: 24px;
  padding-left: 8px;
  outline: none;
}

form#editar-cliente input[type="submit"] {
  background-color: #141414;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.btn-editar {
  background-color: yellow;
  color: #141414;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  margin-left: 5px;
  font-size: 20px;
  font-weight: 700;
}

.busca-clientes {
  background-color: #fff;
  padding: 40px;
  margin-bottom: 40px;
  border-radius: 10px;
  margin-top: 40px;
}

.busca-clientes h4 {
  font-size: 24px;
  color: #444;
  margin-bottom: 10px;
}

.busca-clientes input[type="text"] {
  border: 1px solid #141414;
  height: 40px;
  font-size: 24px;
  border-radius: 10px;
  color: #444;
  display: block;
  padding-left: 8px;
}

.busca-clientes input[type="submit"] {
  background-color: #141414;
  color: #fff;
  padding: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  display: block;
  margin-top: 10px;
}

.title {
  font-size: 32px;
  color: #141414;
  margin-bottom: 20px;
  font-weight: 400;
  text-align: center;
  border-top: 1px solid #141414;
  padding-top: 20px;
}

#adicionar-pagamento {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
}

#adicionar-pagamento label {
  display: block;
  font-size: 24px;
  color: #141414;
  margin-bottom: 5px;
}

#adicionar-pagamento input {
  border: 1px solid transparent;
  height: 40px;
  width: 100%;
  font-size: 24px;
  color: #141414;
  margin-bottom: 15px;
  display: block;
  padding: 0 8px;
}

#adicionar-pagamento input[type="submit"] {
  background-color: #141414;
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  padding: 15px 30px;
  border-radius: 10px;
  display: block;
  font-weight: 700;
  position: relative;
  height: 60px;
}